html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content p {
    text-align: center;
    user-select: none;
}